@import url("chrome://global/skin/");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#RedmineToolbar-About-Details {
  color: #000000 !important;
  padding: 0.5em !important;
}

.RedmineToolbar-About-Name {
  font-size: x-large !important;
  padding-right: 0.25em !important;
}

.RedmineToolbar-About-Title {
  padding-top: 0.25em !important;
}

.RedmineToolbar-About-Name, .RedmineToolbar-About-Title {
  font-weight: bold !important;
}
